@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&display=swap');

html {
  overflow-x: hidden;
  font-size: 16px; // I would recommend always using 16px as base font-size
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 640px) {background-repeat: repeat-x;
    font-size: 12px;
  }
}

html {margin:0;
  padding:0;
  }

body{
  margin:0;
  padding:0;
background:#333;
}

.preload {display:none;}

.App {margin:0;
padding:0;
overflow-x: hidden;}

#window{
  margin:0;
  padding:0;
  width: 100vw;
height: 100vh;
position:relative;
transition: background 2s;
background-image: url('./night.jpg');
background-size: cover;
text-align: center;
opacity:0.7;
margin-bottom:-3rem;
}

input:checked ~ #window {
  background-image: url('./day.jpg');
}

a {color:white;}



#hi1{
  text-align:center;
  position:absolute;
color: #3DC0B0;
font-family: Gochi Hand, Comic Sans MS;
margin:0 5rem;
font-size:10rem;
top:2rem;
transition: opacity 5s;
transition: color 5s;
 left: 20%;
 opacity:1! important;
 z-index:20;
}

#hi2{
  text-align:center;
  position:absolute;
  margin:0 5rem;
font-family: Gochi Hand, Comic Sans MS;;
font-size:10rem;
opacity:0;
top:2rem;
 left: 20%;
}




#bio {
  position:relative;
  max-width:100vw;
  padding:20rem 2rem;
align-items:center;
justify-content: center;}

#blurb {display:inline-table;
  align-items: center;
  text-align:center;
  justify-content: center;
  font-size:1.2rem;
  float:right;
  position:relative;
  bottom:30rem;
}

table {
  display:inline-table;
border-spacing: 150px 0;}

th {color:#3DC0B0;
text-decoration:underline;
padding-bottom: 2rem;
font-weight:bold;}

td {white-space: nowrap;
}

#quals {}

#profiler {

  height: 100%;
  width:auto;
}


#wrapper {
background-color:#333;
 color:white;
 transition: background-color 2s; }











input {
  position: relative;
  display: none;
}

label {
  display: block;
  height:5rem;
  width:5rem;
  top:3rem;
  left:2rem;
  position: fixed;
  cursor: pointer;
  background: url('./moon.png');
  background-size:cover;
  z-index:99;
}

input:checked + label {
  background: url('./smileysun.png');
 background-size:cover; 
 transition: background 1s;
}




input:checked ~ #window > #hi1  {
  
  opacity: 0;
  transition: opacity 4s
}

input:checked ~ #window > #hi2  {
  
  color: #333;
  opacity: 1;
  font-family: "Gochi Hand", "Comic Sans", cursive;
  transition: opacity 2s;
  z-index:50;
}


input:checked ~ #wrapper {
  color: #333;
  background-color:#F7F9FE;
}

input:checked ~ #wrapper a {
  color: #333;
}

input:checked ~ #wrapper th {
  color: #3DC0B0
}

/*these are basically reusable variables, SCSS*/
$width:100vw;
$height:100vh;








/*this is the fade in on page load*/
.fade {
-webkit-animation: fade 3s;
animation: fade 5s;
-moz-animation: fade 3s;
-o-animation: fade 3s;
}

@keyframes fade {
  0% {opacity: 0.0} 
  25% {opacity: 0.3}
  50% {opacity: 0.6}
  75% {opacity: 0.8;}
  100%{opacity: 1}
    }




h2,h3 {text-align: center;
  font-family: Quando;
}

h2 {font-size:5rem;
color:#3DC0B0;}

#about {
position:relative;
  font-size:2.5rem;
top:20rem;
color:#3DC0B0;}

#myprojects {color:#3DC0B0;
font-size: 2.5rem;}

.projectname {margin-top: 15rem;
font-size:2rem;}

.cabins {margin-top:8rem;
  margin-bottom:0rem;}

div, p {
  font-family: judson;
}

.project {
  position:relative;
  padding:20rem 2rem;
  text-align: center;
  font-size:1.2rem;
}

.column {
  display:inline-block;
  max-width: 50%;
  min-width:40%;
  padding: 10px;
  text-align: center;
}

.description {padding-bottom:15rem;
position:relative;
bottom:7rem;}


/*image transitions for my website previews starts*/

.image-container {
  background:green;
  position:relative;
  visibility:hidden;
  opacity:0.99;
 /* height: 30rem;
  width: 30rem;
  padding:40px;*/
}

.laptop {visibility: visible !important;
    height:45rem;
    width:36rem;
    
    bottom:-18rem;
    position: absolute;
    background-image: url('./laptop.png') ;
    background-size:contain;
    background-repeat:no-repeat;}

.laptop > img {
  visibility: visible !important;
    height:36%;
    z-index:-2;
    width:80%;
    top:2%;
    left:10%;
    position: absolute;  
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
      animation-delay: 6s;
    }
    &:nth-of-type(2) {
      animation-delay: 4s;
    }
    &:nth-of-type(3) {
      animation-delay: 2s;
    }
    &:nth-of-type(4) {
      animation-delay: 0;
    }
  }

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*image transitions ends*/






/*for the jumpoing moon/sun*/

label {
      
      animation-name: jump;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }


@keyframes jump {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.jump {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


/*jumping moon/sun ends */



/*css for polaroids begins*/

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  color:black;
  font-family: Cursive;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: flex;
   display: -webkit-box;
  position:relative;
  left:1rem;
  margin-top: 2rem;
  filter: grayscale(100%);

}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


/*css for polaroids ends*/




/*CSS For L*/




/*this is for the thing that says to scroll down on main pic*/
.arrow:hover{cursor:pointer;}


#scroller1{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:99;
}

#scroller2{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:99;}

#scroller3{position:absolute;
  left:50%;
    bottom: 43%;
    transform: translate(-50%,-50%);
    z-index:99}   

#scroller4{position:absolute;
  left:50%;
    bottom: 35%;
    transform: translate(-50%,-50%);
    z-index:99}   

#scroller5{position:absolute;
  left:50%;
    bottom: 30%;
    transform: translate(-50%,-50%);
    z-index:99;
    font-size:3rem;}  

#scroller5:hover {cursor:pointer;}

.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 4px solid #3DC0B0;
    border-right: 4px solid #3DC0B0;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}


/*this is for the thing that says to scroll down on main pic*/






/*@media screen and (max-width: 1500px) {
#window {
  background-position:-20rem;
}

input:checked ~ #window {
  background-position:-28rem;
}

}*/


@media screen and (max-width: 1300px) {

  #blurb {display: block;
    float:none;
    bottom:0rem;}

    .item {left:18rem;
        width: 50%;}

  .laptop {visibility: visible !important;
    height:45rem;
    width:32rem;
    bottom:-25rem;}


.description {top:1rem;
  .description {font-size:14px;}
}


#scroller2, #scroller3, #scroller4 {
  bottom: 20rem;
}


#hi1, #hi2 ,h1 { margin:0 1rem;
}

}


/*below is for ipads*/
@media screen and (max-width: 1100px) {
#window {
  background-position:-23rem
}

input:checked ~ #window {
  background-position:-29rem;
}
}




@media screen and (max-width: 850px) {

  table {
  display:inline-table;
border-spacing: 50px 0;}

.item {left:12rem;}

#bio {display: block;
overflow-x:hidden;}



.laptop {
    height:22rem;
    width: 22rem;
    left:10%;
    top:-6rem;
}

.description {font-size:14px;}

.laptop > img {
  height:50%;
}


 }



@media screen and (min-width:500px) and (max-width:750px){
   .laptop  {
    left:7rem;
    top:-20rem;
}

// .item {
//   left:3rem;
// }

.description {top:-14rem;}

.column {max-width: 98%;
  min-width:80%;
}
}


@media screen and (max-width: 500px) {

  body {
    overflow:hidden;}

#window {
  position:relative;
overflow-x:hidden;
}

#first {padding-top: 5rem;}

  #about {
top:14rem;
margin-bottom:9rem;}

  .item {
  width: 60%;
  position:relative;
  left:6rem;
}


.column {
  font-size:1.2rem;
  max-width: 98%;
  min-width:80%;
  padding: 10px 5px;
}

.laptop {

    height:20rem;
    width: 26rem;
    left:-1%;
    top:3rem;
}

.laptop > img {
  height:60%;
    width:82%;
    left:9%;
    top:8px;

    }

  label {height:3rem;
  width:3rem;}

  #bio {
    width:100vw;
    padding:10rem 0rem;
    margin:0rem 0rem;
    max-width:100vw;

}

#bio {display: block;
overflow-x:hidden;}

#blurb {
  display: block;
  padding:5rem 2rem;
font-size:1.3rem;
width:90%;
position:relative;
left:-1rem;
overflow-x:hidden;
}

table {
padding:0;
margin:0;
border-spacing: 15px 0px;
position:relative;
left:-1rem;
overflow-x:hidden;
}

  td {font-size:14px;}

h2 {font-size:3rem;}


#hi1, #hi2, h1 {
  font-size: 6rem;
  left:2rem;
  top:4rem;
}

#window {
  background-position:-400px;
}

input:checked ~ #window {
  background-position:-480px;
 }


.arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #3DC0B0;
    border-right: 3px solid #3DC0B0;
}


#myprojects {color:#3DC0B0;
font-size:30px;}
.projectname {margin-bottom:0rem;
              font-size:23px;}


.cabins {margin-top:8rem;
  margin-bottom:-16rem;}


#scroller1, #scroller2,  {
  bottom:5%;
}

#scroller3, #scroller4 {
  bottom:-2%;
  }

#scroller5 {bottom:-2%;}

}









@media screen and (max-width:400px){
  .laptop {

    height:20rem;
    width: 24rem;
    left:-1%;
    top:3rem;
}
}


// -webkit-transform: translateZ(0);
// -moz-transform: translateZ(0);
// -ms-transform: translateZ(0);
// -o-transform: translateZ(0);
// transform: translateZ(0);

/*this is supposed to emnable hardware acceleratino for faster background transitions, put on background/bg image element*/















































