@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/*these are basically reusable variables, SCSS*/
$cyan:#3DC0B0;
$darkbg:#333;

* {
  box-sizing: border-box;
}

button {border:none;
outline:none;
}

html {
  overflow-x: hidden;
  font-family: Exo, tahoma, arial;
  font-size: 16px; // I would recommend always using 16px as base font-size. use 15.2 for exo
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 640px) {background-repeat: repeat-x;
    font-size: 12px;
  }
}

html, body, .App { margin: 0; padding: 0; 
overflow-x:hidden;} 


body {
  background: #333;
}


h2,h3 {text-align: center;
}


a {-webkit-tap-highlight-color: transparent;
user-select: none;}



.column h3 {text-align:center;
color: $cyan;
filter: brightness(90%);
font-size:1.66rem;
font-family:  courier new,  Bradley Hand, Snell Roundhand, ;}



.column {text-align:left;}



h3.mystoryh3{
  font-family: Lucida Handwriting, Dancing Script, Bradley Hand, Snell Roundhand;
  font-size:2.2rem; 
}


/*GENERAL CSS ENDS*/





/*CSS FOR BG IMAGE PAGE BEGINS*/


.window {
  display:block;
  position:relative;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  opacity:0.9;
  --dynamic: none;
}


.window::before, .window::after {
  content:'';

  width:100vw;
  height:100vh;
  position:absolute;
  top:0;
  left:0;
    transition:opacity 2s;
    background-size:cover;


}

/*bright  */
.window::before {
  background-image:url('./pics/daymob.jpg');
  display:var(--dynamic);
}
/*this means there is nothing on window:before for 3s, so it doesn't flash up on page load*/


/*dark  */
.window::after {
  background-image:url('./pics/nightmob.jpg');
}

/*when you scroll past this invisible point, the other light switch appears*/
#scroll-magic-point {
  height:1px;
  width:1px;
  position:absolute;
  top:1px;
  left:1px;
  visibility:hidden;
}



input:checked ~ .window::before{ opacity: 1}

input:checked ~ .window::after{ opacity: 0 }


a {color:white;}


/*CSS FOR BG IMAGE ENDS*/






/*CSS FOR H1 BEGINS*/

.peekaboo,.hi{transition: opacity 2.2s ease;}

.peekaboo{opacity: 0;
color:#333;
animation: typewriter 2s steps(60) 1s 1 normal both;}
// animation: typewriter 2s linear 1s 1 normal both}

h1{
text-align:left;
 position: absolute;
 font-family: Dancing Script, cursive, Comic Sans MS;
 z-index:98;
 top: 4%;
 overflow:hidden;
 left: 41.5vw;
 font-size:3rem;
 white-space:nowrap;
}


.hi{ opacity: 1;
color: $cyan;
overflow:hidden;
white-space: nowrap;
// border-right:2px solid $cyan;
animation: typewriter 2s steps(60) 1s 1 normal both; 
}
  // blinkTextCursor 400ms steps(24) infinite normal,
  // cssAnimation 0s ease-in 2.7s forwards;}

  @keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 15rem;
  }
}


#toggle1:checked ~ .peekaboo{opacity: 1;}
#toggle1:checked ~ .hi{opacity: 0;}


/*CSS FOR H1 ENDS*/

.learning-list {
  list-style-type: disc;
  list-style-position: inside;
  font-family: Exo ;
  font-style:italic;
  font-weight: light;
}

.textimg {
 border:1px solid rgba(0, 0, 0, 0.5);
margin:0;
padding:0;
display:block;
width:100%;
}

figure {
  transition: all .2s ease-in-out .2s;
  width:80%;
  border:1px solid rgba(0, 0, 0, 0.2);;
  margin:0 auto;
   box-shadow: 5px 10px 8px #888888;
   z-index:98;
   cursor:zoom-in;
}

.textimg img{

}

figcaption {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);;
  font-style: italic;
  padding: 1.5%;
  text-align: center;
  border:1px solid rgba(0, 0, 0, 0.2);;
  margin-top:0px;
  font-size:0.9em;
}




/* enlarges the textimgs */
.testclass {
transform: scale(1.8);
  margin:10% auto;
  cursor:zoom-out;
  z-index:99;

}

.left {
  transform-origin: 20% 90%;
} 

.right {
  transform-origin: 80% 90%;
} 


/*css for about / bio section begins*/


#about {
position:relative;
font-size:3rem;
margin-top:2.5rem;
margin-bottom:0rem;
padding-top:5rem;
top:3rem;
color:$cyan;
font-family: Dancing Script, Snell Roundhand, cursive;
}


#bio {
  position:relative;
  max-width:100vw;
  padding:3rem 2rem;
align-items:center;
justify-content: center;
}



.tight {
display:grid;
grid-template-columns: 3fr 4fr;
grid-gap: 1rem;
}




#blurb {
  font-size:1rem;
 padding-left:7%;
 padding-right:7%;
  padding-top:15%;
  padding-bottom:5%;

}


ul {list-style-type:none;
  list-style: none;
    padding-left: 0;
}

#blurb ul {
  font-size:1rem;
}

/*top of list*/
.top {color:$cyan;
font-size:1.1rem;
font-weight:bold;}

#leftlistcontainer {
  display:inline-block;
  padding-right:5%;
  vertical-align:top;
}



#rightlistcontainer {
  display:inline-block;
  vertical-align:top;
}

#wrapper {
  padding:0;
  margin:0;
  margin-top: -2.5rem;
  position:relative;
  display: block;
background-color:#333;
 color:white;
 transition: background-color 2s;
 padding-bottom:3rem; }





/*css for about / bio section ends*/




/*css for polaroids begins*/


.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.5);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  color: #5C5959;
  font-family: Dancing Script, Snell Roundhand, Bradley Hand, Brush Script MT;
  font-size: 1.9rem;
  text-align: center;
  line-height: 2em;

}
.item {
  width: 75%;
  margin:auto;
  height:fit-content;
  display: flex;
  display: -webkit-box;
  position:relative;
  filter: grayscale(100%);
z-index:10;
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item .polaroid:before {
  height: 20%;
  width: 57%;
  bottom: 0px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.5);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 75%;
  bottom: 0%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
  transition: all 0.35s;
}


/*css for polaroids ends*/




@keyframes modalfadein {
0% {opacity:0;
}
100% {opacity:1;}
}


.hoverclick{
  background-color:transparent;
  font-family:PT Sans,Arial, Tahoma;
  outline:none;
  font-style: italic;
  border-width:thin;
  cursor: context-menu, progress;
  font-size:1.1rem;
  font-weight: bold;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 1.5vh;
  padding-bottom: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modaltitle {
  margin:0;
  font-family:courier new;
  position:relative;
  color: $cyan;
  font-size:2.5rem;
}



/* Modal Content */
.modal-content {
  background-color: white;
  text-align:center;
  align-items:center;
  position:relative;
  padding:2rem;
  margin: auto;
  border: 1px solid #888;
  width: 90%;
  animation: modalfadein .5s ease-in;
  z-index:99 !important;
  color:black;
}

.modal-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position:absolute;
  top:.1vh;
  right:1vw;
  font-size: 3rem;
  font-weight: bold;
  z-index: 999 !important;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*the bottom close button*/
#bottom {
  top:auto;
  bottom:.2rem;
}




/*Styling for the input/label/checked thing*/


input {
  position: relative;
  display: none;
  cursor: pointer;
  animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

label {
  display: none;
  visibility: hidden;
  height:5rem;
  width:5rem;
  left:20px;
  top:1rem;
  position: absolute;
  background-repeat:no-repeat;
  background-image: url('./pics/mon3.png');
  background-size:cover; 
  z-index:99;
  transition: background 3s, transform 1s top 5s;
outline: none !important;
-webkit-tap-highlight-color: transparent;

}


label:hover {transform: translateY(-3px);
cursor: pointer;
}

/*Product is the png that says "dark mode"*/
label::before {
  content:"";
  background-image: url('./pics/darkarchsml.png');
  position:absolute;
background-size:contain;
background-repeat:no-repeat;
// background-position:center center;
  width:140%;
  height:140%;
top:-25%;
  // bottom:-70%;
  left:-17%;
  z-index:99999 !important;
  display:block;
}

/*Styling for the input/label/checked thing*/


/*so this is what happens when I click the moon*/
input:checked + label {
  background: url('./pics/flaresun.png');
  // background-color: rgba(rgb(255, 195, 42),0.9);
  // box-shadow: 0px 8px 15px rgba(rgb(255, 195, 42),0.9);
  // border-radius:50%;
 background-size:cover;
 background-repeat:no-repeat; 
 transition: background 1.5s;
 animation: newoffback 1.5s ease forwards;
}

// this is what happens when unchecking,(sun to moon) and also when page loads
input[type=checkbox]:not(:checked) + label {
  animation: newoffback2 1.5s ease;
  transition: background 1s;
}

input[type=checkbox]:not(:checked) + label::before {
  animation: fadeIn 3.5s ease-in-out infinite;
  animation-delay: 1s;
  opacity:0;
}
/*this is the "dark mode png*/


/*this is the "dark mode" png*/
input:checked + label::before {
   visibility: hidden;

}



@keyframes fadeIn {
0% {opacity:0;}
50% {opacity:1;
      filter: brightness(1.75);}
100% {opacity:0;}
}


// @keyframes firstrise {
//   0% {left:-70px; top:150px;}
//    100% {left:20px; top:01rem;}
// }

@keyframes newoffback {
 0% {
    transform: translate(0, 0);    
  }
  50% {
    transform: translate(-130px, 150px) ;
  }

 100% {transform: translate(0, 0) scale(1.5);} 

}

@keyframes newoffback2 {
 0% {
    transform: translate(0, 0) scale(1.5);    
  }
  50% {
    transform: translate(-130px, 150px);
  }

 100% {transform: translate(0, 0);} 

}



input:checked ~ #wrapper {
  color: #333;
  background-color:#F7F9FE;
}


input:checked ~ #wrapper a {
  color: #333;
}


input:checked ~ #wrapper th {
  color: $cyan
}



// input:checked ~ a > #scroller1::before {display:none;}

input:checked ~ a > #scroller1 > a > .arrow::after {
border-color:white;
transition: 2s ease all;
}

// input:checked ~ a > #scroller1 > a > .arrow::before {
// color:white;
// }


input:checked ~ a > #scroller1 > a > .arrow {
color: white;
transition: 2s ease all;
// filter: grayscale(100%);
}


// input[type=checkbox]:not(:checked) ~ a > #scroller1 > a > .arrow {
//   filter: invert(100%);
//   transition:1s all;
// }













// mything is the other light switch, after you scroll down

.mything {
  display:none;
  -webkit-appearance: none;
  position: fixed;
  width: 80px;
  height: 40px;
  display:block;
  top:8px;
  left:8px;
  background-image: url('./pics/newnight.jpg');
  border-radius: 20px;
  z-index:9;
  outline: none;
  transition: background-image .90s;
  background-size: cover;
  background-repeat:no-repeat;
  // background-position: left center;
  box-shadow: 0px 1px 2.5px .5px gray;
}

.mything:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: navy;
  border-radius: 20px;
  transition: all .9s;
  background-color:#ECF0F3;
  
}

.mything:checked {
  background-image: url('./pics/sunpic2.jpg');
  transition: background-image .90s;
}

.mything:checked:before {
  transform: translate(100%);
  transition: all .9s;
  background-color:#F7CA33 ;
}

/*mything ends*/














/*CSS FOR PROJECTS BEGINS*/



.My-Projects {margin-top: 15rem;
font-size:3rem;
color:$cyan;
font-family:  Dancing Script, cursive, Snell Roundhand, 
}

.projlink {text-decoration:none;}


#projwrap {display:block;
 text-align:center; 
}


.projtitle {
padding: 30px;
font-family:courier new;
font-size:1.5rem;}

#gridwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  text-align:left;
  align-items:center;
  padding:2rem;
  padding-left:6vw;
  padding-right:6vw;
}

#left {
}
#right {

  position:relative;
  align-items:center;
}

.devices {height:100%;
width:100%;
top:0px;
left:2px;
position:relative;
}

.inner {position:absolute;
  left:12%;
  top:8%;
height:60%;
width:72%;
}



.ipad {
  position:absolute;
  right:3%;
  bottom:10%;
height:53%;
width:27%;
object-fit:cover; 
object-position:center center;
}

.phone {
  position:absolute;
    left:4%;
  bottom:11%;
  object-fit:cover; 
object-position: center center;  
  width: 14%;
  height:36%;
}

.ipadwrapper{}
.innerwrapper {}
.phonewrapper {}


.inner, .phone, .ipad { animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9.6s;
    &:nth-of-type(1) {
      animation-delay: 7.2s;
    }
    &:nth-of-type(2) {
      animation-delay: 4.8s;
    }
    &:nth-of-type(3) {
      animation-delay: 2.4s;
    }
    &:nth-of-type(4) {
      animation-delay: 0;
    }  
}




/*CSS FOR NEW PROJECTS ENDS*/

/*image transitions for my website previews starts*/





@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*image transitions ends*/








/*the click me on the main page does this */

@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


/*this is invisible*/
#top-of-site-pixel-anchor{
  position: absolute;
  width: 12px;
  height: 12px;
  bottom: 70%;
  left: 30px;
  border:1px solid blue;
  z-index:9999;

}





/*ARROWS END*/


/*this is the container div, arrow and before are the content*/
#scroller1{
  position:absolute;
    display:flex;
    width:100%;
    bottom:7%;
    z-index:99;
    text-align:center;
    justify-content:center;
    white-space: nowrap;
    visibility:hidden;
}

#scroller2{
    position:absolute;
    display:flex;
    width:100%;
    z-index:99;
    text-align:center;
    justify-content:center;
    white-space: nowrap;
    bottom:4%;
    left:50%;
    transform: translateX(-50%);
    
}

#scroller2:hover {cursor:pointer;}



#firstarrow, #arrow2{
background-repeat:no-repeat;
background-size:contain;
width:4rem;
height:2rem;
-webkit-tap-highlight-color: transparent;
}

#firstarrow {background-image: url('./pics/click.png');
transition:2s ease all;
}

#arrow2 {background-image: url('./pics/Projects.png');}

.bgclass{
  background-image:url('./pics/clickwhite.png') !important;
}

.arrow {
color: $cyan;
animation: arrowbounce 3s infinite ease;
transition: color 3s ease;
-webkit-tap-highlight-color: transparent;
}

/*this is for the thing that says to scroll down on main pic*/
.arrow:hover{cursor:pointer;}



.arrow::after {
  content:"";
  width:20px;
  height:20px;
  position:absolute;
  margin: auto;
  top:3rem;
  left:0;
  right:0;
  bottom:0;
  border-top:none;
  border-left:none;
  border-right: 2px solid $cyan;
  border-bottom: 2px solid $cyan;
  border-radius:20%;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
}

#totop::after {
  content:"";
  border-top:2px solid $cyan;
  border-left:2px solid $cyan;;
  border-right: none;
  border-bottom: none;
}


#totopimg {
  position:absolute;
  top:50%;
  height:5rem;
  width:7rem;
  left:60%;
  transform:translateX(-50%);
}

.pngs {
  position:absolute;
  bottom:00%;
  height:2.9rem;
  width:4.9rem;
  left:50%;
  transform:translateX(-50%);
}



.funarrow  {margin-top:3rem !important;
left:1rem;
}

.funarrow > img {
  bottom:-35%;
  height:4rem;
  width:6rem;
}

.arrow:hover::after {cursor:pointer;}


.projarrow{
position:relative;
top:-8vh;
height:50px;
margin:3% auto;
margin-bottom:12%;
width:50px;
-webkit-tap-highlight-color: transparent;
}

#firstprojarrow:after{
  top:-4rem;
}

.lastarrow {top:6vh;}

#scroller5{position:relative;
    width:100%;
    display:block;
    text-align:center;
    font-size:5rem;
    margin:5rem 0;
    }  

.lilcontainer {display:inline-block;
cursor:pointer;
}

.lilcontainer:hover {
  transform:translateY(-3px);
}


/*test1 is the last one, that goes back to top*/

.test1 {color:$cyan;

}





@keyframes arrowbounce {
0%, 100% {
  transform:translateY(0px);
}

50% {transform:translateY(-1rem);}


}

/*ARROWS END*/




/*Gallery begins*/

#galleryh3::after {
  content: "I made this responsive gallery using CSS Grid and Flexbox. I then used Javascript and CSS nth-child selectors to give different border, hover, and zoom effects, depending on the image's orientation and grid position.";
  position:absolute;
  font-size:.65rem;
  height:1px;
  font-family: Exo !important;
  color:#FFFFFF;
  width:80%;
  left:10%;
  top:4rem;

}


.gallerywrap {
  display: inline-grid;
  width: 50vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20vh;
  margin-bottom:10rem;
  padding-top:10rem;
  grid-gap:10px;
  margin-left:6%;
  position:relative;
}

.igaldiv {
  max-height:100%;
max-width:100%;
transition: all .3s ease;
transform-origin: left center;
z-index: 90;
border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.igaldiv:nth-child(even){
  width:70%;
  margin: 0 auto;
}

.igaldiv:nth-child(-n+3) {
    transform-origin: left top;
}

.igaldiv:nth-child(n+7){
    transform-origin: left bottom;
}

.igaldiv:nth-child(odd) > img {
 border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.igaldiv:nth-child(even) > img {
 border-radius: 8% 85% 2% 83% / 83% 9% 99% 3% ;
}



.igaldiv > img {
object-fit:fill;
 height:100%;
width:100%;
overflow:hidden;
border-radius:5%;
}

.igaldiv:hover > img {
  filter:grayscale(0%)
}

.lol {
 filter:grayscale(70%);
}


.gowide 
{transform:scale(3.7);
z-index: 9999;}

.gotall
{transform:scale(3.8);
  z-index: 9999;;
}

.igaldiv:hover {cursor:zoom-in;
}

/*Gallery ends*/


.funwrap {
  display:grid;
  grid-template-columns:3fr 2fr;
  width:98vw;
  margin-top:5rem;
  font-size:.85rem;
  position:relative;
}

#galleryh3 {
  position:absolute;
  font-size:2.2rem;
  font-family:Dancing Script;
  color:$cyan;
  width:50%;
  z-index:999999;
  top:-2vh;
  left:4rem;
 height:3rem;
}


#misch3 {
  font-size:2.2rem;
  color:$cyan;
  font-family:Dancing Script;
}

/*RIGHT STUFF BEGINS*/

.rightstuff {
border-left:1px solid rgba(61, 192, 176, 0.5);
padding-left:10%;
margin-top:-3rem;
}

.rightstuff {
 font-size:.85rem
}

.cool-list > li:nth-child(odd){
  color:$cyan;
}

.cool-list > li:nth-child(even){
  margin-bottom:1rem;
}


.randomchat {font-size:.85rem;}


/*RIGHT STUFF ENDS*/





/*Father TED BEGINS*/

.testc{
  border:1px solid red;
}

.test2 {
  border:12px solid green;
}

.mydiv {
  position:relative;
  display:block;
  height:28vh;
  width:100%;
  text-align: left;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: left 90%;
}

.tedbanner {
  position:relative;
  display:block;
  width:40%;
  margin:0 auto;
  height:100%;
}


// .mydiv::before {
//   content:"";
//   position:absolute;
//   top:-5.5vh;
//   width:50%;
//   transform:translateX(65%);
//   height:3rem;
//   background-size:contain;
//   background-repeat:no-repeat;
//   background-image:url('./pics/tedhead.png')}

.mydiv::after {
  content:"Quote Box";
  position:absolute;
  color:$cyan;
  top:-2.5vh;
  filter:brightness(90%);
  font-family:Exo;
  font-weight:bold;
  left:50%;
  transform:translateX(-50%);
}

#tedwrap {
  border:1px solid rgba(61, 192, 176, 0.5);
 padding:0%;
 padding-top:0
}

.quotewrap {
  position:absolute;
  top:15%;
  right:5%;
  width:50%;
  color:black;
  font-family:Helvetica, Arial, Tahoma;
}
.quote {
  font-style: italic;
  font-size:1.1rem;
  font-weight:normal;
  margin: 0 auto;
  position:relative;
  display:block;
  margin-bottom:.3rem;
}

.author {
  font-size:1rem;
  display:block;
  font-weight:lighter;
}

.authorspan {font-style:normal;
font-weight:bold;}

.teabut {
  position:absolute;
  bottom:-20%;
  color:unset;
  font:unset;
  right:5%;
  background-color:transparent;
  transition:transform .2s ease;
  border-bottom:1px dashed rgba(0,0,0,.3);
  border-radius:40%;
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}

.teabut::before {
  content:"";
  background-image:url('./pics/tea.png');
  height:100px;
  width:100px;
  display:block;
  position:relative;
  background-repeat:no-repeat;
  background-size:contain;
  outline:none;
   animation: arrowbounce 2s infinite ease;
}

.teabut:hover{
  cursor:pointer;
}


.tip {
  transform:rotate(-15deg);
}

.teabut:hover + .teabut::before {
}


.quoteimg {
  max-height:100%;
  max-width:100%;
  margin:0 auto;
  display:block;
  
}



/*Father TED ENDS*/





/*CONTACT FORM BEGINS*/

.sendbut {display:block;
position:relative;
top:6.5rem;}

.contactwrap {
  padding: 2% 10% 15% 8%;
  font-size:1rem;
}

.contacth2 {
  color:$cyan;
  font-size:3rem;
  font-family:Dancing Script, Bradley Hand, Exo, cursive;
}

form label{width:100%}

form input,
form textarea{display:block;width:100%;padding:8px 15px;box-sizing:border-box;outline:none;resize:none;background:#fafafe;z-index:2;position:relative;line-height:16px;font-size:1rem;-webkit-transition:none 0s ease 0s;transition:none 0s ease 0s;border:1px solid hsla(0,0%,80%,.37);margin:10px 0 0}

form textarea{height:6rem} /*the big message area*/

form button{text-indent:-10px;color:#333;box-shadow:0 10px 50px rgba(58,58,58,.26);line-height:1px;padding:23px;text-transform:capitalize;-webkit-transition:all .3s linear;transition:all .3s linear;min-width:186px;overflow:hidden;-webkit-border-radius:4px;-moz-border-radius:4px;font-size:15px;border:none;display:inline-block}
form>div{margin-bottom:15px}

.contactlabel {
display: block;
    width: 100%;
    visibility: visible;
    /* height: 1rem; */
    left: auto;
    position: relative;}

.contactlabel:before {
  display:none;
}

.contactlabel:hover {
  transform:translate(0px);
}

.details{padding:0;list-style:none;padding-top:30px;margin-bottom:30px;}
.details li{display:flex;align-items:center;margin-bottom:10px}
.details li p{margin:0}
.details li strong{width:7rem}


/*CONTACT FORM ENDS*/


.arrow {
  top:2rem;
}

























/* MEDIA QUERIES START*/

@media screen and (min-width: 1900px) {

#bio {padding-left:10rem; padding-right:10rem ;}

html {font-size:20px;}


}

@media screen and (max-width: 850px) {

#gridwrapper {
  display: grid;
  grid-template-columns: 3fr 5fr;
grid-gap:0px;
  text-align:left;
  align-items:center;
  padding:3rem;
  padding-left:6vw;
  padding-right:2vw;
}

.lol {
 filter:grayscale(00%);
}

.projarrow  {
  top:5px;
}

#galleryh3 {
  position:relative;
  display:block;
  font-size:2.2rem;
  width:100%;
  top:10vh;
  left:0rem;
 height:3rem;
}

#misch3 {
  font-size:2.2rem;
  color:$cyan;
}




.rightstuff {
 font-size:1rem
}



.cool-list > li:nth-child(even){
  margin-bottom:1rem;
}

.cool-list {margin-bottom:2rem;}


.randomchat {font-size:.85rem;}


// .inner {position:absolute;
//   left:12%;
//   top:8%;
// height:60%;
// width:72%;
// }



// .ipad {
//   position:absolute;
//   right:3%;
//   bottom:10%;
// height:53%;
// width:27%;
// object-fit:cover; 
// object-position:center center;
// }

// .phone {
//   position:absolute;
//     left:4%;
//   bottom:11%;
//   object-fit:cover; 
// object-position: center center;  
//   width: 14%;
//   height:36%;
// }

  .rightstuff {border:none;}

  #wrapper {padding-bottom:10rem;}
 
 h1 {left:38vw;}

  table {
border-spacing: 50px 0;}


#bio {display: block;}
// overflow-x:hidden;}

.break {display:none;}

.funwrap {
  display:block

}

#galleryh3::after {
  content:"I made this responsive image gallery myself . On wider screens, these images are zoomable";
  left:2rem;
  font-size:.75rem;
  text-align:center;
   font-family: Exo !important;
}

.gallerywrap {
 display: flex;
flex-wrap: wrap;
max-width: 1000px;
width: 100%;
grid-gap:1px;
padding-left:2%;
padding-right:2%;
margin-left:0;
margin-bottom:5rem;
}

.igaldiv {
 height: 50%; 
}


.igaldiv:nth-child(odd) {
width: 65%;
}

.igaldiv:nth-child(even) {
width: 34%;}


 .gowide {transform: scale(1)}

.gotall {transform:scale(1);}
 }

.rightstuff {
  padding:5%;
}


.teabut {
  right:-2vw;
 bottom: -15%;
}



@media screen and (max-width: 520px) {


.gallerywrap {
 display: block;
height: auto; 
max-width: 1000px;
width: 100%;
padding-left:2%;
padding-right:2%;
margin-left:0;
}

.igaldiv {
 display:block;
}


.igaldiv:nth-child(odd) {
 width: 100%;
}

.igaldiv:nth-child(even) {
   width: 100%;
}

.rightstuff {
padding-left:auto;
padding:5%;
}

.rightstuff > p {font-size:1rem;}

.rightstuff > a {font-style:italic;}


.window, .window::before, .window::after {
  height:90vh;
} 

.pngs {
  position:absolute;
  bottom:10%;
}

.funarrow {left:3px}

.funarrow > img {
  bottom:-15%;
}








  /* Modal Content */
.modal-content {
  text-align:left;
  align-items:center;
  padding:1rem;
  width: 85%;
}



.modaltitle {
  font-size:2rem;
}


.modal-grid-container {
  display: block; 
}

.column > p {font-size:1.2rem;}

/*this is the onzoomed class*/
.testclass {
transform:scale(1.25);
margin:auto;
}



figure {width:100%;
}


.left {
  transform-origin: center bottom;
} 

.right {
  transform-origin:center bottom;
} 


.hoverclick {
  font-family: Arial, Montserrat, Tahoma;
  font-size:1.2rem;
}



.projarrow {margin-bottom:15vh;
top:3vh;}

#gridwrapper{padding:0 3vw;
  font-size:1.1rem;
}



h1{
  left:31vw;
}

#scroller1::before, #scroller2::before {left:45%;
}

#scroller2{bottom:3rem;}

#first {padding-top: 5rem;}

  #about {
}

  .item {
  width: 60%;
  position:relative;
  bottom:1rem;
}

.tight { display:block; }
 
  #bio {
    width:100vw;
    padding:7rem 0rem;
    margin:0rem 0rem;
    max-width:100vw;
    display: block;
// overflow-x:hidden;
}

#left{
  // padding:2rem;
  margin:0 auto;
  text-align: left;
  font-size:1.1rem;
}

#blurb {
  display: block;
padding-left:10%;
padding-right:10%;
position:relative;
margin:0 auto;
overflow-x:hidden;
padding-top:1.5rem;
font-size:1.1rem;
}

p {font-size:1.1rem;}


h2 {font-size:3rem;}


  
   #gridwrapper  {
    padding-left:0vw;
  padding-right:0vw;
    display:block;}

#left {
      padding-left:8vw;
  padding-right:8vw;
}


#right {
  left:-5px;
}


.mything {

  width: 50px;
  height: 25px;
  top:10px;
  left:10px;
  border-radius: 12.5px;
  box-shadow: 0px 1px 2.5px .5px gray;
}

.mything:before {
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
}


.mything:checked {
  transition: background-image .90s;
background-size:109% 109%;
   background-position: -2px -1px;
}


.My-Projects {margin-bottom:0rem;
              }

.column h3 {
  font-family: courier new, Arial, Exo ;
}

/*these are the subheadings*/
h3.mystoryh3{
  font-family: Dancing Script, cursive,Bradley Hand, Lucida Handwriting, Snell Roundhand ;
  font-size:2.15rem;
}


}




@media screen and (max-width:400px){




  #blurb {
    margin-top:0vw;}




.arrow::after {
  content:"";
  width:15px;
  height:15px;
  position:absolute;
  margin: auto;
  top:3rem;
  left:0;
  right:0;
  bottom:0;
  border-right: 1px solid $cyan;
  border-bottom: 1px solid $cyan;}

}



/*this is so the bigger bg image only gets shown on bigger screens*/
@media screen and (min-width: 768px) {

.window::before {
  background-size: 100% 100%;
  background-image:url('./pics/oilday.jpg');
}

#totop::before {
  
  bottom:-95%;
  position:absolute;
  transform:translateX(-50%);
  left:40%;
  width:100%;
  font-size:1.8rem;
  white-space:nowrap;
  font-family:Dancing Script;
}
    


/*dark  */
.window::after {
  background-image:url('./pics/nightoil.jpg');
  background-size: 100% 100%;
}

}




/*below is for all ipads in portrait*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

.window::before {
  background-image:url('./pics/daymob.jpg');
}


/*dark  */
.window::after {
  background-image:url('./pics/nightmob.jpg');
}

.item {width:100%;}

#scroller2{bottom:0rem;}

.lastarrow {top:0vh;}



 }
























